<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>El nombre del primer integrante es: {{integrante_1.nombre}}, su edad es: {{integrante_1.edad}}, su fecha de naciemiento es: {{integrante_1.nacimiento}} y es mi {{integrante_1.parentezco}}</h3>
    <h3>El nombre del primer integrante es: {{integrante_2.nombre}}, su edad es: {{integrante_2.edad}}, su fecha de naciemiento es: {{integrante_2.nacimiento}} y es mi {{integrante_2.parentezco}}</h3>
    <h3>El nombre del primer integrante es: {{integrante_3.nombre}}, su edad es: {{integrante_3.edad}}, su fecha de naciemiento es: {{integrante_3.nacimiento}} y es mi {{integrante_3.parentezco}}</h3>
</body>
</html>